In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/Cars24.csv")

In [ ]:
df.head()

,Unnamed: 0,Car Brand,Model,Price,Model Year,Location,Fuel,Driven (Kms),Gear,Ownership,EMI (monthly)
0,0,Hyundai,EonERA PLUS,330399,2016,Hyderabad,Petrol,10674,Manual,2,7350
1,1,Maruti,Wagon R 1.0LXI,350199,2011,Hyderabad,Petrol,20979,Manual,1,7790
2,2,Maruti,Alto K10LXI,229199,2011,Hyderabad,Petrol,47330,Manual,2,5098
3,3,Maruti,RitzVXI BS IV,306399,2011,Hyderabad,Petrol,19662,Manual,1,6816
4,4,Tata,NanoTWIST XTA,208699,2015,Hyderabad,Petrol,11256,Automatic,1,4642

In [ ]:
df=df.set_index(df.columns[0])

In [ ]:
len(df['Model'].unique())

903

In [ ]:
df['Location'].unique()

array(['Hyderabad', 'Delhi', 'Mumbai', 'Bangalore', 'Chennai'],
      dtype=object)

In [ ]:
df['Driven (Kms)'].max()

912380

In [ ]:
df['Fuel'].unique()

array(['Petrol', 'Petrol + CNG', 'Diesel', 'Petrol + LPG', 'Electric'],
      dtype=object)

In [ ]:
df['Car Brand'].unique()

array(['Hyundai', 'Maruti', 'Tata', 'Honda', 'Renault', 'Volkswagen',
       'Ford', 'Toyota', 'Mahindra', 'Nissan', 'Skoda', 'Audi',
       'Chevrolet', 'Datsun', 'KIA', 'MG', 'Volvo', 'Mercedes', 'Fiat',
       'Landrover', 'BMW', 'ISUZU', 'Ssangyong', 'Mitsubishi', 'Jeep',
       'Jaguar', 'TOYOTA'], dtype=object)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5918 entries, 0 to 5917
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car Brand      5918 non-null   object
 1   Model          5653 non-null   object
 2   Price          5918 non-null   int64
 3   Model Year     5918 non-null   int64
 4   Location       5918 non-null   object
 5   Fuel           5918 non-null   object
 6   Driven (Kms)   5918 non-null   int64
 7   Gear           5653 non-null   object
 8   Ownership      5918 non-null   int64
 9   EMI (monthly)  5918 non-null   int64
dtypes: int64(5), object(5)
memory usage: 508.6+ KB

In [ ]:
df=df.drop(['Model','EMI (monthly)'],axis=1)#it will crearte data in sufficiency  so dropping them

In [ ]:
df.isna().sum()

Car Brand         0
Price             0
Model Year        0
Location          0
Fuel              0
Driven (Kms)      0
Gear            265
Ownership         0
dtype: int64

In [ ]:
df['Gear'] = df['Gear'].fillna(df['Gear'].mode()[0]) #replacing null values with mode

In [ ]:
y=df['Price']
x=df.drop(['Price'],axis=1)

In [ ]:
from sklearn.preprocessing import LabelEncoder
for i in x.columns:
  if i=='Driven (Kms)':
    continue
  le=LabelEncoder()
  x[i]=le.fit_transform(df[i])

In [ ]:
import pickle as pkl
le1=LabelEncoder()
le1.fit(df['Car Brand'])
le2=LabelEncoder()
le2.fit(df['Model Year'])
le3=LabelEncoder()
le3.fit(df['Location'])
le4=LabelEncoder()
le4.fit(df['Fuel'])
le5=LabelEncoder()
le5.fit(df['Gear'])
le6=LabelEncoder()
le6.fit(df['Ownership'])

In [ ]:
x.head()

,Car Brand,Model Year,Location,Fuel,Driven (Kms),Gear,Ownership
Unnamed: 0,,,,,,,
0,7,9,3,2,10674,1,1
1,15,4,3,2,20979,1,0
2,15,4,3,2,47330,1,1
3,15,4,3,2,19662,1,0
4,23,8,3,2,11256,0,0

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test = train_test_split(x,y,random_state=104, test_size=0.25, shuffle=True)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
oldx=0
nest=1
for i in range(1,100): 
 # create regressor object
          regressor = RandomForestRegressor(n_estimators = i, random_state = 4)
 
# fit the regressor with x and y data
          regressor.fit(X_train, y_train) 
          x=regressor.score(X_test, y_test)
          if x>oldx:
            oldx=x
            nest=i

In [ ]:
nest
regressor = RandomForestRegressor(n_estimators = nest, random_state = 4)
regressor.fit(X_train, y_train) 
x=regressor.score(X_test, y_test)

In [ ]:
x #highest accuracy obtained

0.7029448414989911

In [140]:
#saving the model
le1=LabelEncoder()
le1.fit(df['Car Brand'])
le2=LabelEncoder()
le2.fit(df['Model Year'])
le3=LabelEncoder()
le3.fit(df['Location'])
le4=LabelEncoder()
le4.fit(df['Fuel'])
le5=LabelEncoder()
le5.fit(df['Gear'])
le6=LabelEncoder()
le6.fit(df['Ownership'])
import pickle
pickle.dump(le1, open('brand.pkl','wb'))
pickle.dump(le2, open('year.pkl','wb'))
pickle.dump(le3, open('loc.pkl','wb'))
pickle.dump(le4, open('fuel.pkl','wb'))
pickle.dump(le5, open('gear.pkl','wb'))
pickle.dump(le6, open('ownership.pkl','wb'))

In [141]:
x

0.7029448414989911